<div class="row" routerLink="/holidays/{{holiday.id}}">
  <div class="col-4">
      <div class="holiday-img">
          <img *ngIf="holiday.photos.length === 0" src="./assets/images/1920x1080_placeholder.png">
          <img *ngIf="holiday.photos.length >= 0" src="{{mainPhotoUrl}}">
      </div>
  </div>
  <div class="col-8">
      <div class="row mt-3">
          <div class="col-8">
              <p class="text-muted">{{holiday.country}}/{{holiday.city}}</p>
              <h5>{{holiday.hotelName}}</h5>
              <p></p>
              <i class="fa fa-clipboard description-icon"></i> <small class="text-muted description"> {{holiday.description}}</small>
              <br>
              <i class="fas fa-calendar-alt"></i> <small class="text-muted duration"> {{holiday.durationOfStay}} days </small>
              <br>
              <i class="fas fa-utensils meal-icon"></i> <small class="text-muted meal"> {{handleDisplayName(holiday.mealPlan)}} </small>
              <br>
              <i class="fa fa-globe"></i> <small class="text-muted  agency"> {{holiday.travelAgency}} </small> 
          </div>
          <div class="col-4">
              <h4 class="text-success">{{holiday.price | currency}}</h4>
              <h6> per person</h6>
              <div class="test">
                <i class="fas fa-star" *ngFor="let i of getArraySizeForStars(holiday.stars)"></i>
                <i class="far fa-star" *ngFor="let i of getArraySizeForEmptyStars(holiday.stars)"></i>
              </div>
          </div>
      </div>
  </div>
</div>