<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a class="navbar-brand" routerLink="/home">HOLIDAYS APP</a>
  <button class="navbar-toggler">
    <div class="btn-group" dropdown>
      <button id="button-animated" dropdownToggle type="button" class="btn btn-primary"
              aria-controls="dropdown-animated">
              <span class="navbar-toggler-icon"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item" routerLink="/holidays">Holidays</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/manage">Manage</a></li>
      </ul>
      <form class="form-inline">
        <button class="btn btn-secondary" routerLink="account/login"><i class="fa fa-user"></i></button>
      </form>
    </div>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/holidays" routerLinkActive="active">Holidays</a>
      </li>
      <li *ngIf="currentUser$ | async" class="nav-item">
        <a class="nav-link" routerLink="/manage" routerLinkActive="active">Manage</a>
      </li>
    </ul>

    <div class="btn-group" dropdown>
      <h5 class="mr-2 mt-2" *ngIf="currentUser$ | async">{{(currentUser$ | async).email}}</h5>
      <button id="button-animated" dropdownToggle type="button" class="btn btn-secondary"
              aria-controls="dropdown-animated">
              <i class="fa fa-user"></i>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-animated">
        <ng-container >
          <li role="menuitem"><a class="dropdown-item" routerLink="/account/login">Login</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/account/register">Register</a></li>
        </ng-container>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" (click)="logout()" >Logout</a></li>
      </ul>

    </div>
  </div>
</nav>