<div class="container mt-3">
  <div class="row">
    <section class="col-3">
      <h5 class="text ml-3 my-3">Sorting</h5>    
        <select class="custom-select" (change)="onSortSelected($event.target.value)">
        <option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{ sort.name }}
        </option>
      </select>
      <hr>
      <h5 class="text ml-3 my-3">Price</h5>
      <div class="form-group row justify-content-center"  >
        <div class="col-6">
           <input class="form-control" type="text" placeholder="From" #fromPrice> 
        </div>
        <div class="col-6">
          <input class="form-control" type="text" placeholder="To" #toPrice>
        </div>
      </div>
      <hr>
      <h5 class="text ml-3 my-3">Stars</h5>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let stars of [5,4,3,2,1]"
          [class.active]="stars == holidayParams.minStars"
          [value]="stars"
          (click)="onStarsSelected(stars)"
        >
        <div class="test">
          <i class="fas fa-star" *ngFor="let i of getStarArraySize(stars)"></i>
          <i class="far fa-star" *ngFor="let i of getArraySizeForEmptyStars(stars)"></i>
          +
        </div>
        </li>
      </ul>
      <hr>
      <h5 class="text ml-3 my-3">Duration Of Stay</h5>
      <div class="form-group row justify-content-center">
        <div class="col-6">
           <input class="form-control" type="text" placeholder="From" #fromDuration> 
        </div>
        <div class="col-6">
          <input class="form-control" type="text" placeholder="To" #toDuration>
        </div>
      </div>
      <hr>
      <h5 class="text ml-3 my-3">Country</h5>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let country of countries"
          [class.active]="isCountrySelected(country.name)"
          [value]="country.name"
          (click)="onCountrySelected(country.name)"
        >
          {{ country.name }}
        </li>
      </ul>
      <hr>
      <h5 class="text ml-3 my-3">Meal Plan</h5>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let meal of mealPlans"
          [class.active]="isMealSelected(meal.name)"
          [value]="meal.name"
          (click)="onMealPlanSelected(meal.name)"
        >
          {{ meal.name }}
        </li>
      </ul>
      <hr>
      <h5 class="text ml-3 my-3">Travel Agency</h5>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let agency of travelAgencies"
          [class.active]="isAgencySelected(agency.name)"
          [value]="agency.name"
          (click)="onTravelAgencySelected(agency.name)"
        >
          {{ agency.name }}
        </li>
      </ul>
    <button type="button" class="btn btn-primary block mt-3" (click)="onSearch(fromPrice,toPrice,fromDuration,toDuration)"> Search </button>
    </section>
    <section class="col-9">
      <div class="container mt-3">
        <div *ngFor="let holiday of holidays" class="card shadow-sm mb-3">
            <app-holidays-offer [holiday]="holiday"></app-holidays-offer>
        </div>
      </div>
    </section>
  </div>
</div>
