.fixline {
    position: relative;
    top: -8px;
}

.block {
    display: block;
    width: 255px;
    border: none;
    background-color: #4CAF50;
    padding: 6px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    //position: fixed;
    top: 47px;
    opacity: 0.8;
    z-index: 999;
  }

.test {
    color:grey;
    font-size: 20px;
}

.fa-star {
    color: rgba(255, 194, 62, 0.993);
    font-size: 20px;
}